<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
  <style type="text/css">
  .op{
    text-align:right;
	position:relative;
	right:215px;
   }
   #s{
 
	 border-bottom:1px solid black;
	margin:8px;
   }
   .bn{
    border:1px #000 solid;
	margin:5px 0px 5px 0px;
	width:100px;
	position:fixed;
	top:35px;
	right:100px;
	}
	.bn ul{
	margin:0px;
	 padding:0px;
	 list-style:none;
	}
	.bn li{
	 border:1px #000 solid;
	 padding:8px;
	
	}
  </style>
</head>
  <body>
  <div  class="qw">
        <div class="op" style="display:blcok">
	      <a href="/user/login/">请登录/注册</a>
	    </div>
		<div class="op" style="display:none;">
          <span>你好，{{ request.session.user_name }}<span>
	    </div>	
		<div id="s">
		</div>
		<div class="bn"  style="display:none">
	   <ul>
	   <a  href="/user/info/">
	     <li>我的信息</li>
		 </a>
		  <a  href="/user/articles_1_1/">
		 <li>我的文章</li></a>
		  <a  href="/user/create/">
		 <li>新建文章</li></a>
		 <a href="/user/logout/">
		 <li>退出</li></a>
	   </ul>
	   
	</div>
	</div>
	<script type="text/javascript" src="http://script.game2.com/jquery-1.9.1.min.js?v=201512"></script>
    <script>
	    $(document).ready(function(){
		  if({{request.session.user_id}}==null){

		  
		  }
		  else{
		    $(".op").hide();
			$(".op").eq(1).show();
			var hj="<span>你好,"+"{{request.session.user_name}}"+"</span>";
			$(".op  span").html(hj);
			$(".bn").show();
		  
		  }
		
		
		});
	</script>
  </body>
</html>